extends layout

block content
    div.main.unauth.shadow
        h1
            code.shadow-light wdiff
        hr
        p A 
            a(href='https://en.wikipedia.org/wiki/Diff_utility')
                code.shadow-light diff
            | -like utility for visualizing distance between sentences.
    .shadow
        .page-header
            h3 Input
        form.form-horizontal(id='parse-form', method='POST', b='_blank')
            input(type='hidden', name='_csrf', value=_csrf)
            .form-group
                label.col-sm-3.control-label(for='a') Source
                .col-sm-6
                    if a
                        input.form-control(type='a', name='a', id='a', placeholder='Source sentence.', value=a, autofocus, required)
                    else
                        input.form-control(type='a', name='a', id='a', placeholder='First sentence.', autofocus, required)
            .form-group
                label.col-sm-3.control-label(for='b') Target
                .col-sm-6
                    if b
                        input.form-control(type='b', name='b', id='b', placeholder='Target sentence.', value=b, autofocus, required)
                    else
                        input.form-control(type='b', name='b', id='b', placeholder='Second sentence.', autofocus, required)
            .form-group
                .col-sm-offset-3.col-sm-6
                    .btn-group
                        button#parse-btn.btn.btn-primary(type='button')
                            i.fa.fa-gears
                            | Parse
                        button#api-btn.btn.btn-primary(type='submit', formaction="/api")
                            i.fa.fa-cloud
                            | API
    #results
