extends layout

block content
    div.main.unauth
        h1
            code wdiff
        hr
        p A 
            code diff
            | -like utility for visualizing distance between sentences.
    .page-header
        h3 Input
    form.form-horizontal(id='parse-form', method='POST', target='_blank')
        input(type='hidden', name='_csrf', value=_csrf)
        .form-group
            label.col-sm-3.control-label(for='source') Source
            .col-sm-6
                if data && data.source
                    input.form-control(type='source', name='source', id='source', placeholder='Source sentence.', value=data.source, autofocus, required)
                else
                    input.form-control(type='source', name='source', id='source', placeholder='Source sentence.', autofocus, required)
        .form-group
            label.col-sm-3.control-label(for='target') Target
            .col-sm-6
                if data && data.target
                    input.form-control(type='target', name='target', id='target', placeholder='Target sentence.', value=data.target, autofocus, required)
                else
                    input.form-control(type='target', name='target', id='target', placeholder='Target sentence.', autofocus, required)
        .form-group
            .col-sm-offset-3.col-sm-6
                .btn-group
                    button#parse-btn.btn.btn-primary(type='button')
                        i.fa.fa-gears
                        | Parse
                    button#api-btn.btn.btn-primary(type='submit', formaction="/api")
                        i.fa.fa-cloud
                        | API
                        
    #results
