@import "themes/modern/variables";
@import "lib/bootstrap/bootstrap";
@import "lib/bootstrap-social";
@import "lib/font-awesome/font-awesome";
@import "themes/modern/modern";
// Scaffolding
// -------------------------

html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: $navbar-height + 10px;
    margin-bottom: 75px;
}

.shadow {
    text-shadow: 0 0px 1px rgba(0,0,0,.2),
                 0 1px 2px rgba(0,0,0,.25),
                 0 3px 5px rgba(0,0,0,.2);
}

.shadow-light {
    text-shadow: 0 0px 1px rgba(0,0,0,.1),
                 0 1px 2px rgba(0,0,0,.15);
}

.purple {
    background: linear-gradient(to bottom, rgba(255, 201, 221, 0.1), rgba(255, 201, 221, 0)), linear-gradient(to right, #79589F, #6e5da8);
    background-image: linear-gradient(rgba(255, 201, 221, 0.0980392), rgba(255, 201, 221, 0)), linear-gradient(to right, rgb(121, 88, 159), rgb(110, 93, 168));
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    color: #fff;
}

#results {
    font-size: $subtitle-font-size * 0.48;
    @media (min-width: $screen-sm-min) {
        font-size: $subtitle-font-size * 0.54;
    }
    @media (min-width: $screen-lg-min) {
        font-size: $subtitle-font-size * 0.6;
    }
}

.red {
    height: inherit;
    color: rgb(255, 0, 0) !important;
    //background-color: rgba(236, 199, 199, 0.5) !important;
}

.green {
    color: rgb(79, 254, 27) !important;
    //background-color: rgba(190, 223, 184, 0.5) !important;
}

.pink {
    color: #f77380;
}

#output {
    padding: 20px;
}

#stringOutput, #distOutput {
    padding: 10px;
}

#jsonOutput {
    color: rgb(186, 186, 186);
    padding: 30px;
    background-color: rgba(61, 61, 61, 0.7);
    outline: 1px solid rgb(31, 31, 31);
    padding: 5px;
    margin: 5px;
}

.string {
    color: rgb(88, 187, 164);
}

.number {
    color: rgb(237, 160, 30);
}

.boolean {
    color: blue;
}

.null {
    color: magenta;
}

.key {
    color: rgb(194, 215, 20);
}

.unauth {
    h1 {
        text-align: center;
        font-family: $title-font-family;
        font-weight: bold;
        padding: $title-font-size * 0.5 * 0.3 0;
        font-size: $title-font-size * 0.3;
        @media (min-width: $screen-xs-min) {
            font-size: $title-font-size * 0.5;
            padding: $title-font-size * 0.5 * 0.5 0;
        }
        @media (min-width: $screen-sm-min) {
            font-size: $title-font-size * 0.7;
            padding: $title-font-size * 0.5 * 0.7 0;
        }
        @media (min-width: $screen-md-min) {
            font-size: $title-font-size * 0.85;
            padding: $title-font-size * 0.5 * 0.85 0;
        }
        @media (min-width: $screen-lg-min) {
            font-size: $title-font-size;
            padding: $title-font-size * 0.5 0;
        }

        .emph {
            font-style: italic;
        }
    }

    p {
        text-align: center;
        font-family: $subtitle-font-family;
        font-weight: lighter;
        padding: $subtitle-font-size * 0.5 * 0.6 0;
        font-size: $subtitle-font-size * 0.6;
        @media (min-width: $screen-sm-min) {
            font-size: $subtitle-font-size * 0.7;
            padding: $subtitle-font-size * 0.5 * 0.7 0;
        }
        @media (min-width: $screen-lg-min) {
            font-size: $subtitle-font-size;
            padding: $subtitle-font-size * 0.5 0;
        }

        .emph {
            font-style: italic;
        }
    }

    .btn {
        font-family: $font-family-monospace;
        font-size: 20px;
        font-weight: 300;
        width: 240px;
        display: block;
        margin: 30px auto;
    }
}

.auth {
    h1 {
        font-family: $font-family-monospace;
        font-weight: 300;

        .emph {
            font-style: italic;
        }
    }

    p {
        font-family: $font-family-monospace;
        font-weight: 100;

        .emph {
            font-style: italic;
        }
    }
}

.about {
    h1 {
        text-align: center;
        font-family: $title-font-family;
        font-weight: bold;
        padding: $title-font-size * 0.5 * 0.3 0;
        font-size: $title-font-size * 0.3;
        @media (min-width: $screen-xs-min) {
            font-size: $title-font-size * 0.5;
            padding: $title-font-size * 0.5 * 0.5 0;
        }
        @media (min-width: $screen-sm-min) {
            font-size: $title-font-size * 0.7;
            padding: $title-font-size * 0.5 * 0.7 0;
        }
        @media (min-width: $screen-md-min) {
            font-size: $title-font-size * 0.85;
            padding: $title-font-size * 0.5 * 0.85 0;
        }
        @media (min-width: $screen-lg-min) {
            font-size: $title-font-size;
            padding: $title-font-size * 0.5 0;
        }

        .emph {
            font-style: italic;
        }
    }

    p {
        font-family: $font-family-monospace;
        font-weight: normal;
        padding: $subtitle-font-size * 0.5 * 0.6 0;
        font-size: $subtitle-font-size * 0.6;
        @media (min-width: $screen-sm-min) {
            font-size: $subtitle-font-size * 0.7;
            padding: $subtitle-font-size * 0.5 * 0.7 0;
        }
        @media (min-width: $screen-lg-min) {
            font-size: $subtitle-font-size;
            padding: $subtitle-font-size * 0.5 0;
        }

        .emph {
            font-style: italic;
        }
    }

    .team-member {
        img {
            height: $about-image-height * 0.6;
            width: $about-image-height * 0.6;
            @media (min-width: $screen-sm-min) {
                height: $about-image-height * 0.8;
                width: $about-image-height * 0.8;
            }
            @media (min-width: $screen-lg-min) {
                height: $about-image-height;
                width: $about-image-height;
            }
            border: 5px solid $brand-primary;
            border-radius: 50%;
        }

        p {
            margin-top: 10px;
        }
    }
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #e7ebf3;
    background-color: #fff;
    color: #96a3b6;

    .container {
        padding-top: 14px;
        padding-right: 14px;
        vertical-align: middle;
    }
}
// Input Fields
// -------------------------

textarea {
    resize: vertical;
}
// Navbar
// -------------------------

.navbar-default {
    height: $navbar-height;
    background-color: #fff;

    .container {
        height: inherit;
    }

    .navbar-header {
        height: inherit !important;
    }

    .navbar-brand {
        position: absolute;
        padding-top: 0;
        padding-bottom: 0;
        color: $brand-logo;
        font-family: $navbar-brand-font-family;
        font-weight: bold;
        font-size: $navbar-default-brand-size;
        height: $navbar-height;
        white-space: nowrap;
        overflow: hidden;
        // Meetchu logo
        img {
            display: inline-block;
            vertical-align: middle;
            padding-top: 12px;
            padding-bottom: 12px;
            padding-right: 12px;
        }
        // Meetchu title
        span {
            display: inline-block;
            vertical-align: middle;
            line-height: $navbar-default-brand-size;
            padding-top: 20px;
            padding-bottom: 16px;
        }
    }

    .navbar-nav {
        > li > a {
            color: #444;
        }
        // Avatar
        img {
            height: 30px;
            width: 30px;
            margin: -15px 15px;
        }
    }

    .navbar-collapse {
        background-color: #fff;
    }

    .navbar-toggle {
        z-index: 1;
    }
}
// Alerts
// -------------------------

.alert {
    margin-top: 20px;
}
// Thumbnails
// -------------------------

.thumbnail {
    padding: 0;
    border-radius: 0;
    box-shadow: 0 0 5px #ccc, inset 0 0 0 #000;
}
// Font Icons
// -------------------------

.fa {
    margin-right: 6px;
}
